@media print {
	html {
		margin: 0;
		padding: 0;
		border: 0;
		width: 8.25in;
		
	}
	
	.print {
		display:block;
	}
	
	.noprint {
		display:none;
	}
	
	.heading {
		color: #000;
		text-align: center;
		padding: 10px;
		width: 80%;
		margin: auto;
	}
	
	.breakdown {
		display: flex;
		flex-flow: column;
		padding:0;
		margin:0;
	}
	.floor{
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		height: 25%;
	}
	
	#display{
		padding:0;
		margin:0;
		border: none;
	}
	
	#display+div{
		position: absolute;
		margin: 0; 
		padding:0;
	}
	
	.floor h3{
		position: relative;
		font-size: 16px;
		right: 5%;

	}
	
	.floor h5{
		font-size:10px;
		padding:0;
		margin:1%;
	}
	
	.floor p{
		font-size: 10px;
		padding:0;
		margin:0;
	}
	
	.overview{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		height: 25%;
		margin-bottom: 10%;
		padding:1%;
	}
	.generic {
		flex: 1 1 10%;
		padding:0;
		margin-top:5%;
	}

	.floor table{
		width: 60%;
		border: 1px solid #3d1452 ;
		border-collapse: collapse;
		color: #fff;
		text-align: center;
		break-after: auto;
	}
	.graveyard table{
		width:100%;
	}
	
	.graveyard th:first-child {
		display:none;
	}

	.graveyard td:first-child {
		display:none;
	}
	
	.graveyard th:last-child {
		display:none;
	}

	.graveyard td:last-child {
		display:none;
	}
	
	tr {
		border-bottom: 1px dotted #3d1452;
	}
	tr:nth-child(even){
		background-color: Gainsboro;
		color: #3d1452;
	}
	tr:nth-child(odd){
		background-color: #fff;
		color: #3d1452;
	}
		
	th{
		border-top: 1px solid  #3d1452;
		border-bottom: 1px solid  #3d1452;
	}
	td{
		text-align: left;
		padding:5%;
	}
		
}

