@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}
#container {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	padding:2%;
}
#reportForm {
	flex: 1 1 100%;
	margin: 20px;
}

#reports {
	display: flex;
	flex-flow: row wrap;
}
div.reportType{
	flex: 1 1 300px;
	border: solid 4px #4f2683;
}
button {
	height: 100px;
	font-weight: bold;
	font-size: 30px;
	background: #4f2683;
	color: GhostWhite;
	border: solid 2px GhostWhite;
	cursor: pointer;
	width: 100%
}

#reports p {
	margin: 10px;
}

select {
	margin: 8px;
}

#print{
	width: 10%;
	font-size: 22px;
	align-self:flex-end;
	margin-right: 2%;
	height:12%;
}

#display {
	flex: 1 1 100%;
	border: 8px double #3d1452;
	padding: 3%;
	margin: 2%;	
}

#display h3 {
	margin: 2%;
}

#display > div {
	margin: 2%;
	padding:1%;
}

.heading {
	background: #4f2683;
	color: GhostWhite;
	text-align: center;
	padding: 10px;
	width: 80%;
	margin: auto;
}
.breakdown {
	display: flex;
	flex-flow: column;
	margin:2%
}
.floor{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 25%;
	margin: 2%;
}	
.overview{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	height: 25%;
	margin-top:2%;
	margin-bottom: 1%;
	padding:1%;
}
.generic {
	flex: 1 1 12.5%;
	display: inline;
	margin: 1%;
}

.floor table{
	width: 80%;
	margin: 2%;
	padding:1%;
	border: 2px solid #3d1452 ;
	border-collapse: collapse;
    color: #fff;
	text-align: center;
}
tr {
	border-bottom: 2px dotted #3d1452;
}
tr:nth-child(even){
	background-color: Gainsboro;
	color: #3d1452;
}
tr:nth-child(odd){
	background-color: #fff;
	color: #3d1452;
}
	
th{
	border-top: 1px solid  #3d1452;
	border-bottom: 1px solid  #3d1452;
}
td{
	text-align: left;
	padding: 2%;
}
